.form {
    height: 600px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.goed {
    color: green;
    margin-top: 10px;
}

.fout {
    color: red;
    margin-top: 10px;
}